#replaces metadata in measure export
#format is metadatakey.metadatavalue = new Metadata Value
#the key is converted to lowercase before searched in this table

metric.alert = Alerts
metric.alerts = Alerts
metric.allert = Alerts
metric.allerts = Alerts

metric.kpi = KPIs
metric.kpis = KPIs

metric.timing = Timings
metric.timings = Timings

metric.metric = Metrics
metric.metrics = Metrics

