# Measure collector
## lockFile lockfile
## default lockFile= basepath + eSysAdmServer.lock
## collector.enabled start measure collector or not
## default collector.enabled=true
## collector.port collector port
## default collector.port=1972

#e.g. exporter.elasticURL = http://localhost:9200/_bulk
#default elasticIndex=metrics-
#default exporter.logger = Metrics


#Default template for monitors
config.elasticsearch.monitor-type = ElasticSearch Server
config.elasticsearch.monitor-freq = 60s
config.elasticsearch.elasticURL = http://{host}:9200/
config.elasticsearch.tags = elasticsearch

config.redis.monitor-type = Redis Server
config.redis.monitor-freq = 1m
config.redis.port = 6379
config.redis.tags = redis

config.flume-agent.monitor-type = FLUME Server
config.flume-agent.monitor-freq = 1m
config.flume-agent.port = 1983
config.flume-agent.tags = FLUME agent

config.flume-collector.monitor-type = FLUME Server
config.flume-collector.monitor-freq = 1m
config.flume-collector.port = 1981
config.flume-collector.tags = FLUME collector
