# Conventions
## & = config path  
## ~ = user.home

# Global config
## lockFile lockfile
lockFile = &eSysAdmServer.lock
## hostname
hostname = localhost
## dryrun = true no dispositive action taken (experimental)
dryrun = false

# Scheduler
## Number of scheduler workers 
scheduler.workers = 4

# Measure collector
## collector.enabled start measure collector or not
collector.enabled = true
## collector.port collector port
collector.port = 1972

# Hostgroups
hostgroups.path = &hostgroups.config
hostgroups.tagPrefix = #

# KeyStore
keystore.path = &keystore.config

# Alias
alias.path = &alias.config

# Rule Engine
rule-engine.path = &rule-engine.config

# User Roles
## user-roles.path directory with role definitions
user-roles.path = &roles
## user-roles.mapping.path directory with role definitions
user-roles.mapping.path = &user-role.mapping
## default role
user-roles.default = guest

# Monitors
## monitors.path directory with monitor
monitors.path = &monitors
monitors.default.path = &monitor-default.config

# Traces
trace-rules.path = &traces

# Tasks
task-rules.path = &tasks

# Consumers 
consumers.sleeptime = 10

#-----
alert.defaultTagPath = &alert-default-tag.csv
alert.templatesDir   = &templates

# Alert Exporter
alert.export.DB.enabled = false
alert.export.DB.maxSize = 250
alert.export.DB.tableName = ALERT_DYNATRACE
alert.export.DB.tableFields = ID_DYNATRACE STATO_DYNATRACE OPEN_DATE CLOSE_DATE TEXT SEVERITY NODENAME
alert.export.DB.DBType = Oracle
alert.export.DB.server = ora-grid29-scan.it.sedc.internal.vodafone.com
alert.export.DB.port = 1521
alert.export.DB.OracleType = ServiceName
alert.export.DB.Database = ITREPSRV.world
alert.export.DB.DBUsername = "SERVICENOW"
alert.export.DB.DBPassword = "c2VydjIwMTg="

alert.export.LOG.enabled = true
alert.export.LOG.template = log_output.ftl
alert.export.LOG.prettyJson = false

alert.export.HOOK.enabled = false
alert.export.HOOK.url = https://
alert.export.HOOK.template = json_output.ftl
alert.export.HOOK.header = "SOAPAction"
alert.export.HOOK.token = "urn:WS:InterfaceService"
alert.export.HOOK.type = "text/xml"

#-----

# Measure consumer
# e.g. exporter.elasticURL = http://localhost:9200/_bulk
# default elasticIndex=metrics-
# indexMode 0 -> no sufix, 1 -> dateformat of now, 2-> dateformat of event timestamp
exporter.elasticIndexMode = 1
exporter.indexDateFormat = yyyy.MM.dd

# default exporter.logger = Metrics

# default exporter.eSysAdmUrl =
# default exporter.eSysAdmToken =

#exporter.notifyUrl = http://webservice/notify?status=${status}&value=${value}&violation=${violation}

#
consumer.alert.type = DB

# default exporter.logger = Metrics

