# Measure collector

## lockFile lockfile
## default lockFile = basepath + eSysAdmServer.lock

## collector.enabled start measure collector or not
## default collector.enabled=true

## collector.port collector port
## default collector.port=1972

## monitors.path directory with monitor
## default monitors.path = basepath + monitors

## monitors.path directory with monitor
## default monitors.path = basepath + rule-engine.config

# Number of scheduler workers 
#scheduler.workers = 4

hostgroup.tagPrefix = #

# Measure consumer
# e.g. exporter.elasticURL = http://localhost:9200/_bulk
# default elasticIndex=metrics-
# indexMode 0 -> no sufix, 1 -> dateformat of now, 2-> dateformat of event timestamp
exporter.elasticIndexMode = 1
exporter.indexDateFormat = yyyy.MM.dd

# default exporter.logger = Metrics

# Default configuration for monitors
config.elasticsearch.monitor-type = ElasticSearch Server
config.elasticsearch.monitor-freq = 2m
config.elasticsearch.elasticURL = http://{host}:9200/
config.elasticsearch.tags = elasticsearch

config.redis.monitor-type = Redis Server
config.redis.monitor-freq = 2m
config.redis.port = 6379
config.redis.tags = redis

config.flume-agent.monitor-type = FLUME Server
config.flume-agent.monitor-freq = 2m
config.flume-agent.port = 1983
config.flume-agent.tags = flume agent

config.flume-collector.monitor-type = FLUME Server
config.flume-collector.monitor-freq = 2m
config.flume-collector.port = 1981
config.flume-collector.tags = flume collector

config.apache-modstatus.monitor-type = Apache Web Server
config.apache-modstatus.monitor-freq = 2m
config.apache-modstatus.modStatusURL = http://{host}:1984/status-server?auto
config.apache-modstatus.tags = apache webserver

config.webserver.monitor-type = Web Server
config.webserver.monitor-freq = 1m
config.webserver.probeURL = http://{host}/probe
config.webserver.tags = webserver probe

config.eSysAdm.monitor-type = eSysAdm Server
config.eSysAdm.monitor-freq = 30s
config.eSysAdm.port = 1972
config.eSysAdm.tags = eSysAdm collector

config.oracle-server.monitor-type = Oracle Database Server
config.oracle-server.monitor-freq = 8m
config.oracle-server.OracleVersion = Oracle v11 or later
config.oracle-server.OracleType = SID
config.oracle-server.port = 1521
config.oracle-server.tags = oracle
config.oracle-server.runSQL = false

config.oracle-query.monitor-type = Database Server
config.oracle-query.monitor-freq = 1m
config.oracle-query.DBType = Oracle
config.oracle-query.OracleType = SID
config.oracle-query.port = 1521
config.oracle-query.SQLQuery = SELECT 1 FROM DUAL
config.oracle-query.tags = oracle query
config.oracle-query.runSQL = true

config.sqlserver-query.monitor-type = Database Server
config.sqlserver-query.monitor-freq = 1m
config.sqlserver-query.DBType = Microsoft SQL Server
config.sqlserver-query.port = 1433
config.sqlserver-query.SQLQuery = SELECT 1 AS RESULT
config.sqlserver-query.tags = sqlserver query
config.sqlserver-query.runSQL = true

config.postgresql-server.monitor-type = PostgreSQL Server
config.postgresql-server.monitor-freq = 8m
config.postgresql-server.port = 5432
config.postgresql-server.tags = postgresql
config.postgresql-server.runSQL = false

